<app-header></app-header>

<table style=" width: 100%;height: 10%;background-color: rgb(156, 249, 162);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/business"> Business News</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/politics"> Politics </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/crime"> Crime News </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/world"> World News </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/technology">Technology News</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/sports">Sports </a>  </td>

  </tr>
</table>
<hr/>
<router-outlet></router-outlet>